{% extends 'accounts/base.html' %}

{% block extend_left %}
  {{ block.super }}
  <small>/ {{ form.username.value.lower.capitalize }} </small>
{% endblock %}

{% block extend_right %}
  {{ form.non_field_errors }}
  <div class="form-horizontal" >
    {% csrf_token %}
    {% for field in form %}
    <div class="form-group">
      <div class="col-sm-2 text-right">
        {{ field.label_tag }}
      </div>
      <div class="col-sm-8">
        {{ field.value }}
        <small>{{ field.errors }}</small>
      </div>
    </div>
    {% endfor %}
      <div class="col-sm-offset-1 col-sm-5">
        <a href="{% url 'accounts:home' %}">
        <button class="btn btn-default">Voltar</button></a>
      </div>
    </div>
  </div>
{% endblock %}
